@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');


/* CSS Document */

body {
    margin: 0;
    padding: 0;
	background-color: #ffffff;
}

nav {
	background-color: #f3f1f1;
	height: 60px;
	position: fixed;
    top: 0;
	width:100%;
}

.uln {
	height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lin {
    float: left;
}

.lin a {
	font-size: 0.6em;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;
	letter-spacing:0.3em;		
	text-transform:uppercase;
    display: block;
    color: #353635;
    text-align: left;
    padding: 22px 16px ;
    text-decoration: none;
-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.navlink:hover {
	opacity: 0.5;
}

.navlink:focus {
	outline:0;
}

.lin #logo-centered {
        position: absolute;
        left: 45.3%;
		top: 15%;
        display: block;
        width: 100px;
        text-align: center;
        background-color: transparent;
}

.socialicon {
position: relative;
padding: 21px 4px;
-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.socialicon:hover {
	opacity: 0.5;
}

.socialicon:focus {
	outline:0;
}

.headerimage {
	width:90%;
	display:block;
	margin:auto;	
}

h1 {
	color: #353635;
	font-family:'playfair display', serif; 
	letter-spacing:0.1em; 
	font-size:1.4em; font-weight:900; 
	padding: 0 40px;
	padding-bottom: 10px;
	line-height: 1.4em;
	text-align:center;		
}

h5 {
	color: #353635;
	font-family:'raleway', serif; 
	letter-spacing:0.3em; 
	font-size:0.7em; font-weight:600; 
	text-align:center;
	text-transform:uppercase;
	
}

.copy {
	color: #353635;
	font-family:'playfair display', serif; 
	letter-spacing:0.3em; 
	font-size:0.5em; font-weight:400; 
	text-align:center;
	text-transform:uppercase;
	padding:0 0 2em 0;
}

p {
	color: #353635;
	font-family:'playfair display', serif; 
	letter-spacing:0.1em; 
	font-size:0.8em; font-weight:400; 
	padding: 0 40px 10px;
	line-height: 1.8em;
	text-align:center;
}

hr {
	background-color: #353635;
	width: 3%;
	height: 1px;
	border: 1px;
}

container {
	text-align:center;
	display:block;
	margin:auto;
}

.third {
	display: inline-block;
  vertical-align: middle;
  margin:0 1em;
  transition: all .2s ease-in-out;
}

.third:hover {
	transform: scale(1.02);
}

.third:focus {
	outline:0;
}

.footer {
	background-color: #f3f1f1;
	width:100%;
}

.footercontainer {
	width:100%;
	display:block;
	margin:auto;	
}

.ulf {
	height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.lif {
 display:inline-block;
 width:auto;
}

.lif a {
	font-size: 0.6em;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;
	letter-spacing:0.3em;		
	text-transform:uppercase;
    display: block;
    color: #353635;
    text-align: center;
	width:100px;
    padding: 25px 120px;
    text-decoration: none;
-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.navlink:hover {
	opacity: 0.5;
}

.navlink:focus {
	outline:0;
}

.instacarousel {
	width:150px;
	height:150px;
}

.instacarousel:hover {
	opacity: 0.25;
}

.instacarousel:focus {
	outline:0;
}