@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body {
    background-color: #fbf7f1;
}

.logoicon
{ 
	padding-top: 30px;
	display: block;
    margin: auto;
    width: 15%;
}

.logo
{ 
	padding-top: 30px;
	padding-bottom: 10px;
	display: block;
    margin: auto;
    width: 100px;
}

.callout {
    color: #bdbcb1;
	font-family: 'Raleway', sans-serif; 
	letter-spacing:0.3em; 
	font-size:1em; font-weight:300; 
	padding-bottom: 30px;
	line-height: 1.8em;
	text-align:center;
}

.contact {
    background-color: #515152;
    border: none;
    color: white;
    padding: 14px;
	width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
	font-family: 'Raleway', sans-serif; 
	letter-spacing:0.3em;			
	margin:20px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
	
.contact:hover {
    background-color: #e5d0b7;
	opacity: 0.5;
    color: #515152;
}

.contact:focus {
	outline:0;
}

.button {
    background-color: #bdbcb1;
    border: none;
    color: white;
    padding: 14px;
	width: 230px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6em;
	font-family: 'Raleway', sans-serif; 
	letter-spacing:0.3em;			
	margin:20px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
	
.button:hover {
    background-color: #bdbcb1;
	opacity: 0.5;
    color: #515152;
}

.button:focus {
	outline:0;
}

.socialicon
{
	width:18px;
	margin:20px;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.socialicon:hover {
	opacity: 0.5;
}

.socialicon:focus {
	outline:0;
}